# prettier git branch output (also effects e.g. clean, status, tag)
[column]
        ui = auto
# sort branches by most recent commit date
[branch]
        sort = -committerdate
# smarter tag sort when dealing with version numbers
[tag]
        sort = version:refname
# default branch is master not main
[init]
        defaultBranch = main
# prettier diff; better change algorithm in most cases, show moved lines explicitly, a/ b/ -> i/ w/, detect if a file has been renamed
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
# by default push the current branch to the same name on the remote, auto set upstream branch if not done already, push tags automatically
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
# automatically fetch deleted branches and tags (deleting them locally)
[fetch]
        prune = true
        pruneTags = true
[user]
	name = Brennan Hill
	email = bhill298@gmail.com
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	cachecredentials = true
