{
    "packages": [
    {
      "source": "npm:pi-web-access",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    },
    {
      "source": "npm:pi-subagents",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    },
    {
      "source": "npm:@juicesharp/rpiv-ask-user-question",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    },
    {
      "source": "npm:pi-claude-marketplace",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    },
    {
      "source": "npm:pi-init",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    },
    {
      "source": "npm:pi-mcp-extension",
      "extensions": [],
      "skills": [],
      "prompts": [],
      "themes": []
    }
  ],
  "defaultProvider": "llama-server",
  "defaultModel": "gemma-4-31B-it-q4",
  "skills": [
    "EXCLUDING_HERE_DOESNT_WORK_THERE_IS_A_BUG"
  ]
}
